.toast-container-overlay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    background-color: transparent;
    color: black;
    position: relative;
    z-index: 10;
    padding-top: 20px;
}

.toast-container {
    width: auto;
    background-color: green;
    color: white;
    border: solid 1px grey;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}